<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Ваша почта для входа на сайт NekIdea <%= @mail %></h1>
<p>
  Ваш пароль <%= @password %>.<br>
</p>
</body>
</html>
