

<div class="page-wrapper admin">
  <%= render partial: './header.html.erb' %>
  <section class = "content container">
    <div class = "nice outline">
      <h3>Панель администрирования</h3>
      <div class = "add_user">
        <h4>Добавить пользователей</h4>
        <div class = "choice-container">
          <div class = "container-header">
              <div class = "option active">
                  <p> Через таблицу </p>
              </div>
              <div class = "option">
                 <p> Вручную </p>
              </div>
              <div class="hidden" data-last="0"></div>
          </div>
          <div class = "container-body">
            <div class = "option show">
               <form class = "table_add">
                  <p class = "name">Загрузите файл таблицы пользователей в формате CSV.</p>
                  <input type = "file"/>
                  <p class = "addition">Пояснение: файл должен быть...</p>
               </form>
            </div>
            <div class = "option">
                <form class = "user_add">
                  <p> Форма </p>
                </form>
            </div>
          </div>
        </div>
      </div>
      <div class = "groups">
        <h4>Управление группами</h4>
      </div>
      <div class = "settings">
        <h4>Общие настройки</h4>
      </div>
    </div>
  </section>
  <%= render partial: './footer.html.erb' %>
</div>

