
<div class = "page-wrapper login">
    <div class="login-box">
        <div class = "logo">
            <%= image_tag "logo.svg" %>
        </div>

      <%= form_with class: "nice", local: false do %>
            <label for="input1" class="inp background">
                <input name = "mail" type="email" id="inp" placeholder="&nbsp;"  autocomplete="off">
                <span class="label">Эл. почта</span>
                <span class="focus-bg"></span>
            </label>
            <label for="input1" class="inp background">
                <input name = "password" type="password" id="inp" placeholder="&nbsp;">
                <span class="label">Пароль</span>
                <span class="focus-bg"></span>
            </label>
            <div class="error-fields" style="max-width: 330px">

            </div>
            <label class="checkbox bounce">
                <input name = "remember" type="checkbox">
                Запомнить меня
                <svg viewBox="0 0 21 21">
                    <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
                </svg>
            </label>

            <button class="btn-outline" type="submit">Войти</button>
        <% end %>
    </div>
</div>


