<div class = "page-wrapper">
    
    <%= render partial: './header.html.erb' %>
    <section class="content container">
      <%= current_user.mail if current_user != nil %>

<!--
      <%= form_with url:'users/generate?type=single', local: false do %>
        <label for="input1" class="inp">
          <input name = "mail" type="email" id="inp" placeholder="&nbsp;"  >
          <input name = "name" type="text" id="inp" placeholder="&nbsp;" >
          <input name = "surname" type="text" id="inp" placeholder="&nbsp;" >
          <input name = "patronymic" type="text" id="inp" placeholder="&nbsp;" >
        </label>
        </label>

        <button class="btn-outline" type="submit">Войти</button>
      <% end %>
-->
    <h1 class = "title">Некоторый заголовок</h1>
    <h2 class = "title">Некоторый заголовок</h2>
    <h3 class = "title">Некоторый заголовок</h3>
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    </section>
    <section class="content container">
    <h1 class = "title">Checkbox элемент</h1>
    <!-- Checkbox element -->
    <label class="checkbox bounce">
        <input type="checkbox">
        Нажми
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label>
    <br>
    <!-- Checkbox element -->
    <label class="checkbox bounce">
        <input type="checkbox">
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label> <br>
    <!-- Checkbox element -->
    <label class="checkbox bounce">
        <input type="checkbox" checked>
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label> <br>
    <!-- Checkbox element -->
    <label class="checkbox bounce">
        <input type="checkbox" checked>
        Уже нажатый
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label>
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    </section>
    <section class="content container">
    <h1 class = "title">Input элемент</h1>
    <form class = "nice">
    <label for="input1" class="inp">
    <input type="text" id="inp" placeholder="&nbsp;">
    <span class="label">Label</span>
    <span class="focus-bg"></span>
    </label>
    awd
    <label for="input2" class="inp">
    <input type="text" id="inp" placeholder="&nbsp;">
    <span class="label">Label</span>
    <span class="focus-bg"></span>
    </label>
    </form>
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    </section>
    <section class="content container">
        <h1 class = "title">Editable Text элемент</h1>
        <div id="editor"></div>
    </section>
    <section class="content container">
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    </section>
    <section class="content container">
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    <!-- Checkbox element -->
    <label class="checkbox bounce">
        <input type="checkbox">
        Ntrawd
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label>

    <!-- Checkbox element -->
    <label class="checkbox bounce">
        <input type="checkbox">
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label>
    </section>
    <%= render partial: './footer.html.erb' %>
</div>
