<div class = "page-wrapper">
    
    <%= render partial: './header.html.erb' %>
    <section class="content container">
      <%= current_user.mail if current_user != nil %>

<!--
      <%= form_with url:'users/generate?type=single', local: false do %>
        <label for="input1" class="inp">
          <input name = "mail" type="email" id="inp" placeholder="&nbsp;"  >
          <input name = "name" type="text" id="inp" placeholder="&nbsp;" >
          <input name = "surname" type="text" id="inp" placeholder="&nbsp;" >
          <input name = "patronymic" type="text" id="inp" placeholder="&nbsp;" >
        </label>
        </label>

        <button class="btn-outline" type="submit">Войти</button>
      <% end %>
-->
    <h1 class = "title">Некоторый заголовок</h1>
    <h2 class = "title">Некоторый заголовок</h2>
    <h3 class = "title">Некоторый заголовок</h3>
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    </section>
    <section class="content container">
    <h1 class = "title">Checkbox элемент</h1>


      <form action="#">
        <p>
          <label>
            <input type="checkbox" />
            <span>Red</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" checked="checked" />
            <span>Yellow</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" class="filled-in" checked="checked" />
            <span>Filled in</span>
          </label>
        </p>
        <p>
          <label>
            <input id="indeterminate-checkbox" type="checkbox" />
            <span>Indeterminate Style</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" checked="checked" disabled="disabled" />
            <span>Green</span>
          </label>
        </p>
        <p>
          <label>
            <input type="checkbox" disabled="disabled" />
            <span>Brown</span>
          </label>
        </p>
      </form>



    <!-- Checkbox element
    <label class="checkbox bounce">
        <input type="checkbox">
        Нажми
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label>
    <br>-->
    <!-- Checkbox element
    <label class="checkbox bounce">
        <input type="checkbox">
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label> <br>-->

    <!-- Checkbox element
    <label class="checkbox bounce">
        <input type="checkbox" checked>
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label> <br>-->
    <!-- Checkbox element
    <label class="checkbox bounce">
        <input type="checkbox" checked>
        Уже нажатый
        <svg viewBox="0 0 21 21">
            <polyline points="5 10.75 8.5 14.25 16 6"></polyline>
        </svg>
    </label>-->
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    </section>
    <section class="content container">
    <h1 class = "title">Input элемент</h1>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Placeholder" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input disabled value="I am not editable" id="disabled" type="text" class="validate">
              <label for="disabled">Disabled</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <span>This is an inline input field:</span>

              <div class="input-field inline">
                <input id="email_inline" type="email" class="validate">
                <label for="email_inline">Email</label>
                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--
    <form class = "nice">
    <label for="input1" class="inp">
    <input type="text" id="inp" placeholder="&nbsp;">
    <span class="label">Label</span>
    <span class="focus-bg"></span>
    </label>
    awd
    <label for="input2" class="inp">
    <input type="text" id="inp" placeholder="&nbsp;">
    <span class="label">Label</span>
    <span class="focus-bg"></span>
    </label>
    </form> -->
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    </section>
    <section class="content container">
        <h1 class = "title">Editable Text элемент</h1>
        <div id="editor"></div>
    </section>
    <section class="content container">
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>
    </section>
    <section class="content container">
    <p>Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.Некоторый русский текст. Ещё немного русского текста. Крал у клары украл коралллы.</p>


      <input type="text" class="datepicker">

    </section>
  <script>

  </script>
    <%= render partial: './footer.html.erb' %>
</div>
