<div class="page-wrapper idea">
  <%= render partial: './header.html.erb' %>
  <div class = "breadcrumbs">
    <div class="container">
      <a>Тематики</a> <i class="fas fa-arrow-right"></i> <a>Тематика №1</a> 
    </div>
  </div>
  <main class="page-main">
    <section class="idea-section content container">
      <div class="idea-header">
        <div class="idea-block-header">
          <h1 class="idea-name title">Создание игровой комнаты в офисе для персонала</h1>
        </div>
        <div class="author">
            <a href="/login">
              <img src="https://w3schoolsrus.github.io/w3images/avatar2.png" />
            </a>
              <h2 class="idea-author">Иванов Валентин Петрович</h2>
        </div>
        <div class="section-header-checkbox">
          <button type="button" class="btn btn-primary">Голосовать</button>
        </div>
        <hr>
        <p class="idea-copyright">Основывается на:</p> <a href="#">Название другой идеи</a>
      </div>
      <main class="idea-main">
        <br>
        <h2 class="title">Описание</h2>
        <div class="">
          Некоторый русский текст, который представляет собой короткое описание предложенной идеи, выражение ее
          сути, мыслей автора, возможно завлечение сотрудников для дальнейшего голосования именно за эту идею.
          Также сюда можно написать дальнейшие перспективы развития данной идеи, польза для руководства либо для
          сотрудников кампании или организации.
        </div>
        <br>
        <div class="idea-images-block">

          <div class="owl-carousel owl-theme">
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
            <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          </div>
        </div>
        <div class="idea-important-links-block">
          Важные ссылки:
          <a class="idea-important-link" href="#">Материал для поддержки голосования</a>,
          <a class="idea-important-link" href="#">Источник новостей</a>,
          <a class="idea-important-link" href="#">Ресурсы</a>,
          <a class="idea-important-link" href="#">Пруфы</a>
        </div>
        <div class="button">
          <div class="button-container">
            <a href="#" class="btn effect01" target="_blank"><span>Развить идею</span></a>
          </div>
        </div>
        <button class="btn-outline" type="submit">Войти</button>
        <div class="idea-comments">
          Комментарии
        </div>
      </main>
    </section>
  </main>
  <%= render partial: './footer.html.erb' %>
</div>
