<div class="page-wrapper idea">
  <%= render partial: './header.html.erb' %>
  <div class = "breadcrumbs">
    <div class="container">
      <div class = "links">
        <a href="/">Главная</a> <i class="fas fa-arrow-right"></i> <a href = "/votes">Тематики</a> <i class="fas fa-arrow-right"></i> <a href = "/votes/31">Тематика №1</a> <i class="fas fa-arrow-right"></i> <a href = "/idea">Создание игровой комнаты в офисе для персонала</a>
      </div>
    </div>
  </div>
    <section class="idea-section content container">
      <div class="idea-header">
        <div class="idea-block-header">
          <h1 class="idea-name title">Создание игровой комнаты в офисе для персонала</h1>
        </div>
        <div class = "vote head">
          <div class = "head">
            <div class = "right">
              <div class = "person">
                <p>Создатель:</p>
                <a href="/login">
                  <div class = "avatar">
                    <img src="https://w3schoolsrus.github.io/w3images/avatar2.png">
                  </div>
                  <div class = "name">
                    <p>Иванов Иван Иваныч</p>
                  </div>
                </a>
              </div>
              <div class = "properties">
                <p>Дата: <span>12.7.2021</span></p>
              </div>    
            </div>
            <div class = "left">
              <div class="rating">
                  <!-- Thumbs up -->
                  <div class="like grow">
                    <i class="far fa-thumbs-up" aria-hidden="true"></i>
                  </div>
                  <input class="value" value ="-12" disabled/>
                  <!-- Thumbs down -->
                  <div class="dislike grow">
                    <i class="far fa-thumbs-down" aria-hidden="true"></i>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class = "idea-additional">
          <div class = "idea-copyright">
            <p>Основывается на: </p> <a href="#">Название другой идеи</a>
          </div>
          <div class = "idea-add">
            Добавить в заметки
          </div>
        </div>
      </div>

      <main class="idea-main">
        <h2 class="title">Описание</h2>
        <div class="info">
          <p>Некоторый русский текст, который представляет собой короткое описание предложенной идеи, выражение ее
          сути, мыслей автора, возможно завлечение сотрудников для дальнейшего голосования именно за эту идею.
          Также сюда можно написать дальнейшие перспективы развития данной идеи, польза для руководства либо для
          сотрудников кампании или организации.
        </div>

        <div class = "images">
          <h2>Прилагаемые фото</h2>
          <div class="owl-carousel owl-theme">
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/2.jpg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
            <div> <a><img src = "/img/default_idea.svg"></a></div>
          </div>
        </div>
        <div class="idea-important-links-block">
          <h2>Прилагаемые ресурсы</h2>
          <div class = "links">
           <div class = "link"><i class="fas fa-link"></i><a  href="#">Источник новостей</a></div>
           <div class = "link"><i class="fas fa-link"></i><a  href="#">Ресурсы</a></div>
           <div class = "link"><i class="fas fa-link"></i><a  href="https://drive.google.com/u/0/uc?id=1V2rqbVWAa1i20ONacNueeOa1UsrLYgsK&export=download">Пруфы</a></div>
          </div>
        </div>
        <div class="idea-comments">
          <form class = "nice">
            <div class = "head">
              <h2>Комментарии</h2>
              <button class ="btn-simple"><i class="far fa-paper-plane"></i>Отправить</button>
            </div>
            <label for="vote_description" class="inp textarea">
              <textarea class = "autoExpand vote_description" placeholder = " " rows = "1" data-min-rows = "1" required></textarea>
              <span class="label">Ваше предложение</span>
            </label>
          </form>
        </div>
      </main>
      <div class="comment-box">
            <div class="comment">
              <div class="head">
                <a href = "/login">
                  <div class = "person">
                    <div class = "img">
                      <img src = "https://w3schoolsrus.github.io/w3images/avatar2.png">
                    </div>
                    <div class = "person-info">
                        <div class = "name">
                          <p>Иванов Иван Иваныч</p>
                        </div>
                        <div>
                          <p>Должность</p>
                        </div>
                    </div>
                  </div>
                </a>
                <div class = "date">
                  <p>21.04.2021</p>
                </div>
              </div>
              <div class="body">
                <p>
                  Некоторое длиннющее сообщение гдк имеется очень много текста: Несмотря на то, что чья-то карета стояла у подъезда, швейцар, оглядев мать с сыном (которые, не приказывая докладывать о себе, прямо вошли в стеклянные сени между рядами статуй в нишах), значительно посмотрев на старенький салоп, спросил, кого им угодно, княжон или графа, и, узнав, что графа, сказал, что их сиятельству нынче хуже и их сиятельство никого не принимают.
                </p>
              </div>
            </div>
            <div class="comment">
              <div class="head">
                <div class = "person">
                  <div class = "img">
                    <img src = "https://w3schoolsrus.github.io/w3images/avatar2.png">
                  </div>
                  <div class = "person-info">
                    <div class = "name">
                      <p>Иванов Иван Иваныч</p>
                    </div>
                    <div>
                      <p>Должность</p>
                    </div>
                  </div>
                </div>
                <div class = "date">
                  <p>21.04.2021</p>
                </div>
              </div>
              <div class="body">
                <p>
                  Некоторое длиннющее сообщение гдк имеется очень много текста.
                </p>
              </div>
            </div>
            <div class="comment">
              <div class="head">
                <div class = "person">
                  <div class = "img">
                    <img src = "https://w3schoolsrus.github.io/w3images/avatar2.png">
                  </div>
                  <div class = "person-info">
                    <div class = "name">
                      <p>Иванов Иван Иваныч</p>
                    </div>
                    <div>
                      <p>Должность</p>
                    </div>
                  </div>
                </div>
                <div class = "date">
                  <p>21.04.2021</p>
                </div>
              </div>
              <div class="body">
                <p>
                  Некоторое длиннющее сообщение гдк имеется очень много текста: Несмотря на то, что чья-то карета стояла у подъезда, швейцар, оглядев мать с сыном (которые, не приказывая докладывать о себе, прямо вошли в стеклянные сени между рядами статуй в нишах), значительно посмотрев на старенький салоп, спросил, кого им угодно, княжон или графа, и, узнав, что графа, сказал, что их сиятельству нынче хуже и их сиятельство никого не принимают.
                </p>
              </div>
            </div>
      </div>
    </section>
  <%= render partial: './footer.html.erb' %>
</div>
