<div class="page-wrapper idea">
  <%= render partial: './header.html.erb' %>
    <div class="container">
        <div class="profile-main">
            <div class="profile-data">
                <h1>Мои данные</h1>
                <div class="profile-info">
                    <div class="user-photo line">
                        <p>Моё фото</p>
                        <img class="profile-image" src="https://w3schoolsrus.github.io/w3images/avatar2.png">
                    </div>
                    <div class="line">
                        <p>Фамилия</p>
                        <p class="data">Иванов</p>
                    </div>
                    <div class="line">
                        <p>Имя</p>
                        <p class="data">Валентин</p>
                    </div>
                    <div class="line">
                        <p>Отчество</p>
                        <p class="data">Петрович</p>
                    </div>
                    <div class="line">
                        <p>Дата рождения</p>
                        <p class="data">19.09.1998</p>
                    </div>
                    <div class="line">
                        <p>Должность</p>
                        <p class="data">Тестировщик</p>
                    </div>
                    <div class="line">
                        <p>Эл. почта</p>
                        <p class="data">example@gmail.com</p>
                    </div>
                </div>
                <div class="actions">
                    <a class="change-user-data">Редактировать личные данные</a>
                    <a class="change-user-password">Изменить пароль</a>
                </div>
            </div>
        </div>
        <div class="my-ideas-title">
            <h2>Мои идеи</h2>
        </div>
        <div class="ideas-list">
            <div class="idea-form">
                <div class="idea-left-side">
                    <div class="idea-title">
                        <a href="">Название идеи</a>
                    </div>
                    <div class="idea-start-date">
                        15:45:19 17.04.2020
                    </div>
                </div>
                <div class="idea-right-side">
                    Статус: предложена
                </div>
            </div>
            <div class="idea-form">
                <div class="idea-left-side">
                    <div class="idea-title">
                        <a href="">Название идеи</a>
                    </div>
                    <div class="idea-start-date">
                        15:45:19 17.04.2020
                    </div>
                </div>
                <div class="idea-right-side">
                    Статус: предложена
                </div>
            </div>
        </div>
    </div>
  <%= render partial: './footer.html.erb' %>
</div>
