<div class="page-wrapper users-index">
  <%= render partial: './header.html.erb' %>
  <section class ="content container">
    <h2>Пользователи (leaderboard)</h2>    
    <div class = "head-container">
          <div class = "list-item num">
              <p>№</p>
          </div>
          <div class = "list-item img">
          </div>
          <div class = "list-item info">
            <p>ФИО / Должность</p>
          </div>
          <div class = "list-item ideas">
            <p>Предложено идей</p>
          </div>
          <div class = "list-item commited_ideas">
            <p>Принято идей</p>
          </div>
        </div>
        <div class = "list-container">
          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "num">
                <h5>1</h5>
              </div>
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Иванов Иван Иваныч</p>
                <p class = "descr">Старший сотрудник</p>
              </div>
              <div class = "ideas">
                <p>223</p>
              </div>
              <div class = "commited_ideas">
                <p>222</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "num">
                <h5>2</h5>
              </div>
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Иванов Иван Иваныч</p>
                <p class = "descr">Старший сотрудник</p>
              </div>
              <div class = "ideas">
                <p>220</p>
              </div>
              <div class = "commited_ideas">
                <p>8</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "num">
                <h5>3</h5>
              </div>
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Иванов Иван Иваныч</p>
                <p class = "descr">Старший сотрудник</p>
              </div>
              <div class = "ideas">
                <p>210</p>
              </div>
              <div class = "commited_ideas">
                <p>7</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "num">
                <h5>4</h5>
              </div>
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Иванов Иван Иваныч</p>
                <p class = "descr">Старший сотрудник</p>
              </div>
              <div class = "ideas">
                <p>16</p>
              </div>
              <div class = "commited_ideas">
                <p>6</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "num">
                <h5>5</h5>
              </div>
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Иванов Иван Иваныч</p>
                <p class = "descr">Старший сотрудник</p>
              </div>
              <div class = "ideas">
                <p>5</p>
              </div>
              <div class = "commited_ideas">
                <p>5</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "num">
                <h5>6</h5>
              </div>
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Иванов Иван Иваныч</p>
                <p class = "descr">Старший сотрудник</p>
              </div>
              <div class = "ideas">
                <p>12</p>
              </div>
              <div class = "commited_ideas">
                <p>4</p>
              </div>
            </div>
          </a>

          <a href = "/votes/new">
            <div class = "list-item">
              <div class = "num">
                <h5>7</h5>
              </div>
              <div class = "img">
                <img src = "/img/default_idea.svg">
              </div>
              <div class = "info">
                <p class = "name">Иванов Иван Иваныч</p>
                <p class = "descr">Старший сотрудник</p>
              </div>
              <div class = "ideas">
                <p>12</p>
              </div>
              <div class = "commited_ideas">
                <p>3</p>
              </div>
            </div>
          </a>
        </div>
  </section>
  <%= render partial: './footer.html.erb' %>
</div>