<div class="page-wrapper vote-create">
    <%= render partial: './header.html.erb' %>
    <section class ="content container">
        <form class = "nice outline">
                <h1 class = "title">Создание нового голосования</h1>
                <div class = "form-group">
                    <label for="vote_name" class="inp">
                        <input type="text" id="vote_name" placeholder="&nbsp;">
                        <span class="label">Название голосования</span>
                        <span class="focus-bg"></span>
                    </label>
                </div>
                <div class = "form-group">
                    <label for="vote_description" class="inp textarea">
                        <textarea type="text" id="vote_description" placeholder="&nbsp;"></textarea>
                        <span class="label">Описание</span>
                    </label>
                </div>
                <div class = "form-group wrapper">
                    <div class ="images_label">
                        <label for="images" class="btn-simple">Загрузить изображения</label>
                    </div>
                    <input id = "images" class = "fullhidden" type = "file" accept = "image/*" multiple>
                    <input class = "fullhidden" name="changed" type="text" value="No">
                </div>
                <div class = "form-group">
                    <p class = "title">Выберите тип голосования</p>
                    <div>
                        <select>
                            <option value="1">Одноэтапное</option>
                            <option value="2">Многоэтапное</option>
                        </select>
                    </div>
                </div>

                <div class = "form-group">
                    <p class = "title">Количесвто этапов</p>
                    <div data-id = "iter">
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="other">
                                Другое количество
                            </option>
                        </select>
                    </div>
                    <div data-id = "iter_additional" class = "fullhidden" style="max-width: 200px">
                        <label for="vote_name" class="inp">
                                <input type="number" id="vote_name" placeholder="&nbsp;">
                                <span class="label">Число этапов</span>
                                <span class="focus-bg"></span>
                        </label>
                    </div>
                </div>
        </form>
    </section>
    <%= render partial: './footer.html.erb' %>
</div>
