.page-wrapper.vote-create.idea-create {
    .wrapper {
        .images_label {
            margin-bottom: 0;
        }
    }

    .title {
        margin-bottom: 10px;
    }

    .res-item {
        label {
            margin-right: 10px;
        }
        label i {
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 992px) {
        .container {
            max-width: 820px;
        }
    }

    @media screen and (max-width: 640px) {
        .res-item {
            display: grid;
            grid-template-columns: 50px 1fr 70px;
            grid-template-rows: 70px 70px;
            grid-template-areas: 
            "icon name del"
            "icon link del";
            margin-bottom: 20px;

            label {
                margin: 0;
            }
            .icon {
                grid-area: icon;
                justify-self: center;
                align-self: center;
            }
            .name {
                grid-area: name;
            }
            .link {
                grid-area: link;
            }
            .del {
                grid-area: del;
                justify-self: center;
                align-self: center;
                margin-left: 10px;
            }
            .inp {
                max-width: 100%;
            }
        }
    }
    @media screen and (max-width: 640px) {
        .images_label {
            justify-content: center;
            margin: 0;
        }
        .img-wrapper {
            justify-content: center;
        }
        form.nice.outline {
            padding: 40px 40px;
        }
    }

    @media screen and (max-width: 470px) {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
        form.nice.outline {
            padding: 30px;
        }
        .res-item {
            grid-template-columns: 50px 1fr 60px;
            .icon {
                //justify-self: start;
            }
            .del {
                padding-left: 15px;
                padding-right: 15px;
                justify-self: end;
                margin-left: 0;
            }
        }
        h1 {
            text-align: center; 
        }
        .form-group.res, .form-group.send {
            display: flex;
            justify-content: center;
        } 
    }
    @media screen and (max-width: 350px) {
        form.nice.outline {
            padding: 20px;
        }
        h1 {
            font-size: 1.75rem;
        }
    }
}