.page-wrapper.vote-create.idea-create {
    .wrapper {
        .images_label {
            margin-bottom: 0;
        }
    }

    .title {
        margin-bottom: 10px;
    }

    .res-item {
        label {
            margin-right: 10px;
        }
        label i {
            font-size: 1.2rem;
        }
    }
}