.page-wrapper.users-index {

    .head-container {
        display: grid;
        grid-template-columns: 30px 70px 1fr 220px 220px;
        .ideas {
            display: flex;
            justify-content: center;
        }
        .commited_ideas {
            display: flex;
            justify-content: center;
        }
    }
    .list-container {
        .list-item {
            display: grid;
            grid-template-columns: 30px 70px 1fr 220px 220px;
            .ideas {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .commited_ideas {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .ideas, .commited_ideas {
                p {
                    font-weight: 500;
                    font-size: 1.5rem;
                }
            }
        }   
    }
}
