.page-wrapper.vote-index {
    .theme_card {
        box-shadow: 0px 0px 15px #0000001a;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        color: $text-color;
        transition: all 0.15s linear;
        &:hover {
            background-color: $color-gray;
        }
        .img {
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            img {
                object-fit: cover;
                height: 150px;
                width: 150px;
            }
        }
        .title {
            max-width: 150px;
        }
        .info {
            max-width: 150px;
        }
    }

    .global_themes {
        .box {
            display: flex;
            flex-wrap: wrap;
            a {
                display: flex;
            }
        }
        margin-bottom: 20px;
    }

    .head-container {
        display: grid;
        grid-template-columns: 1fr 220px 200px;

        .info {
            display: flex;
            justify-content: center;
        }
        .status {
            display: flex;
            justify-content: center;
        }
        .phase {
            display: flex;
            justify-content: center;
        }
        .mobile {
            display: none;
        }
    }
    .list-container {
        .list-item {
            display: grid;
            grid-template-columns: 70px 1fr 220px 200px;
            .status {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .phase {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &.hide, &.filtered {
                display: none;
            }
        }
    }

    .el-title {
        display: flex; 
        justify-content: space-between; 
        align-items: center
    }

    .search-section {
        display: grid;
        grid-template-columns: 200px 1fr;
        margin-top: 30px;
        margin-bottom: 10px;
        .search-bar {
            display: flex;
            flex-direction: row;
            .bar {
                width: 85%;
                box-shadow:  0px 0px 15px #0000001a;
                font-size:1.5rem;
                padding: 0px 10px 0px 10px;
                display: flex;
                flex-direction: row;
                .icon {
                    display: flex;
                    align-items: center;
                    i {
                        color: #999b99;
                    }
                }
                input {
                    width: 100%;
                    border:solid 3px #fff;
                    box-sizing:border-box;
                    outline:solid #fc0 0;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                }
            }
        }
        .filters {
            color: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            .nice-select {
                margin-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .container {
            max-width: 820px;
        }

        .global_themes {
            display: flex;
            flex-direction: column;
            // .box {
            //     justify-content: center;
            // }
        }

        .list-container .list-item {
            grid-template-columns: 70px 1fr 300px;
            grid-template-rows: 1fr 40px 40px 1fr;
            grid-template-areas:
                "img info ."
                "img info status"
                "img info phase"
                "img info .";
            .img {
                grid-area: img;
            }
            .info {
                grid-area: info;
                align-self: center;
            }
            .status {
                grid-area: status;
            }
            .phase {
                grid-area: phase;
                display: flex;
            }
        }

        .head-container {
            grid-template-columns: 1fr 300px;
            .status {
                display: none;
            }
            .phase {
                display: none;
            }
            .mobile {
                display: flex;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: 650px) {
        .list-container .list-item {
            grid-template-columns: 70px 1fr;
            grid-template-rows: 1fr 40px 30px;
            grid-template-areas:
                "img info"
                ". status"
                ". phase";
            .info {
                align-self: flex-start;
            }
            .status {
                margin-top: 10px;
                justify-self: end;
            }
            .phase {
                justify-self: end;
            }
        }

        .head-container {
            grid-template-columns: 1fr 150px;
            .status {
                display: none;
            }
            .phase {
                display: none;
            }
            .mobile {
                display: flex;
                justify-content: center;
            }
        }

        .global_themes {
            align-items: center;
            h2 {
                text-align: center;
            }
            .box {
                justify-content: center;
            }
        }
        .el-title {
            flex-direction: column;
            align-items: center;
            .add-link {
                margin-bottom: 10px;
            }
        }

        .search-section {
            grid-template-columns: 150px 1fr;
        }
    }

    @media screen and (max-width: 522px) {
        .search-section {
            grid-template-columns: 150px 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "search search"
                "filter .";
            padding-left: 20px;
            padding-right: 20px;
            .filters {
                grid-area: filter;
                justify-self: start;
            }
            .search-bar {
                grid-area: search;
                justify-self: center;
                width: 100%;
                .bar {
                    width: 100%;
                }
                margin-bottom: 20px;
            }
        }
    }
    @media screen and (max-width: 420px) {
        .head-container {
            grid-template-columns: 1fr;
            .mobile {
                display: none;
            }
        }
        .list-container .list-item .info .name {
            word-break: break-all;
        }
        // .container {
        //     padding-left: 0;
        //     padding-right: 0;
        //     padding-bottom: 0;
        // }
        // .global_themes {
        //     .theme_card {
        //         margin-right: 0;
        //     }
        // }
    }

    @media screen and (max-width: 380px) {
        .container {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }
        .global_themes {
            .theme_card {
                margin-right: 0;
            }
        }
    }
}