.page-wrapper.vote-index {
    .theme_card {
        box-shadow: 0px 0px 15px #0000001a;
        display: inline-flex;
        flex-direction: column;
        padding: 20px;
        margin-right: 10px;
        margin-bottom: 10px;
        color: $text-color;
        transition: all 0.15s linear;
        &:hover {
            background-color: $color-gray;
        }
        .img {
            margin-bottom: 5px;
            img {
                object-fit: cover;
                max-height: 150px;
                max-width: 150px;
            }
        }
        .title {
            max-width: 150px;
        }
        .info {
            max-width: 150px;
        }
    }

    .global_themes {
        .box {
            display: flex;
            flex-wrap: wrap;
        }
        margin-bottom: 20px;
    }

    .head-container {
        display: grid;
        grid-template-columns: 1fr 220px 200px;

        .info {
            display: flex;
            justify-content: center;
        }
        .status {
            display: flex;
            justify-content: center;
        }
        .phase {
            display: flex;
            justify-content: center;
        }
        .mobile {
            display: none;
        }
    }
    .list-container {
        .list-item {
            display: grid;
            grid-template-columns: 70px 1fr 220px 200px;
            .status {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .phase {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .container {
            max-width: 820px;
        }

        .list-container .list-item {
            grid-template-columns: 70px 1fr 300px;
            grid-template-rows: 1fr 40px 40px 1fr;
            grid-template-areas:
                "img info ."
                "img info status"
                "img info phase"
                "img info .";
            .img {
                grid-area: img;
            }
            .info {
                grid-area: info;
                align-self: center;
            }
            .status {
                grid-area: status;
            }
            .phase {
                grid-area: phase;
                display: flex;
            }
        }

        .head-container {
            grid-template-columns: 1fr 300px;
            .status {
                display: none;
            }
            .phase {
                display: none;
            }
            .mobile {
                display: flex;
                justify-content: center;
            }
        }
    }

    @media screen and (max-width: 650px) {
        .list-container .list-item {
            grid-template-columns: 70px 1fr;
            grid-template-rows: 1fr 40px 30px;
            grid-template-areas:
                "img info"
                ". status"
                ". phase";
            .info {
                align-self: flex-start;
            }
            .status {
                margin-top: 10px;
                justify-self: end;
            }
            .phase {
                justify-self: end;
            }
        }

        .head-container {
            grid-template-columns: 1fr 150px;
            .status {
                display: none;
            }
            .phase {
                display: none;
            }
            .mobile {
                display: flex;
                justify-content: center;
            }
        }
    }
}