.breadcrumbs {
    background-color: $color-main2;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
    a{
        color: $text-color;
        &:hover {
            color: $link-hover-color;
        }
    }
    .links {
        display: flex;
        flex-wrap: wrap;
        div {
            margin-right: 5px;
            margin-bottom: 5px;
            margin-top: 5px;
        }
    }
    i{
        margin-right: 4px;
        margin-left: 4px;
        font-size: 12px;
    }
}