.footer {
    min-width: 320px;
    padding: 50px 10%;
    background: $color-accent-dark;
    color: #fbfbfb;
}

.footer-container {


}

.footer-text {
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: justify;
}

.footer-text-last {
    margin-bottom: 0;
}

.footer-copyright {
    line-height: 26px;
    font-size: 20px;
    margin-top: 30px;
}

.footer-middle-block {
    max-width: 800px;

}

.footer-text-right-block {
    text-align: right;
    margin-left: 0;
}

.footer-link {
    color: $color-accent2;
}

.footer-image {
    width: 25px;
    margin-right: 3px;
}

.footer-logo {
    max-width: 100%;
    width: 200px;
    margin-top: 22px;
}

.contacts {
    .item {
        font-size: 1.5rem;
    }
}
/*
@media screen and (max-width: 1620px) {
    .footer-middle-block {
        max-width: 700px;
    }
}

@media screen and (max-width: 1500px) {
    .footer-middle-block {
        max-width: 500px;
    }
}

@media screen and (max-width: 1370px) {
    .footer-middle-block {
        max-width: 500px;
    }
    .footer-text-right-block {
        text-align: left;
        margin-right: 0.25em;
    }
    .footer-copyright {
        text-align: left;
    }
    .contacts .item {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1273px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-middle-block {
        max-width: 1200px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-right-block {
        margin-top: 20px;
    }

    .contacts .item {
        font-size: 1.5rem;
    }
}
// @media screen and (max-width: 500px) {
//     .footer-link-text {
//         display: block;
//     }
// }

@media screen and (max-width: 430px) {
    .footer {
        padding: 20px 5%;
    }
    .footer-left-block {
        display: flex;
        justify-content: center;
    }
    .footer-logo {
        width: 80%;
    }

    .footer-text {
        text-align: start;
    }

    .contacts .item {
        font-size: 1.2rem;
    }
}
*/
