.section-header {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
}

.section-header-full-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-header-idea-name {
    font-weight: bold;
    color: $color-accent;
}

.content-text-link {
    margin-top: 20px;
    font-size: 22px;
}

.description-title {
    margin: 30px 0;
    font-size: 28px;
    font-weight: bolder;
}

.content-short-description {
    font-size: 22px;
    text-align: justify;
    line-height: 32px;
}

.content-images-block {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.content-image {
    width: 18%;
}

.important-links-block {
    margin-top: 30px;
    font-size: 20px;
    text-align: left;
    font-size: 14px;
}

.important-link {
    margin-left: 0.25em;
}

/* Style for button */
.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  /*   padding: 2em 0em; */
}
  
.button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFF;
    margin-top: 30px;
    width: 240px;
}  
  
.btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    max-width: 180px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.btn:hover {
    text-decoration: none;
}
  
/*btn_background*/
.effect01 {
    color: #FFF;
    border: 4px solid $color-accent;
    box-shadow:0px 0px 0px 1px $color-accent inset;
    background-color: $color-accent;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.effect01:hover {
    border: 4px solid $color-accent;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #EEE inset;
}
  
/*btn_text*/
.effect01 span {
    transition: all 0.2s ease-out;
    z-index: 2;
}

.effect01:hover span{
    letter-spacing: 0.13em;
    color: $color-accent;
}
  
/*highlight*/
.effect01:after {
    background: #FFF;
    border: 0px solid $color-accent;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
}

.effect01:hover:after {
    background: #FFF;
    border: 20px solid $color-accent;
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

@media screen and (max-width: 1600px) {
    .section-header {
        display: block;
    }
}

///////////////////

.idea-name {
    font-size: 32px;
    text-align: left;
}

.idea-description-title {
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: bolder;
}

.idea-description {
    font-size: 16px;
    text-align: justify;
    line-height: 28px;
}

.idea-author {
    margin-bottom: 30px;
}

.idea-images-block {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 0;
    flex-wrap: wrap;
}

.idea-content-image {
    width: 256px;
    height: 256px;
}