@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  box-sizing: border-box !important;
}
.btn-full-width{
  max-width: 100% !important;

}

form{
  text-align: left;
}
.content{
  //text-align: left !important;
}
.input-field.col label{
  //left: 0;
}
$i: 1;
@while $i<=6 {
  h#{$i} {
    text-align: left;
  }

  $i: $i + 1;
}


@media screen and (min-width: 620px) {
   .content{
    //text-align: left !important;
  }
}

a:hover { 
  text-decoration: none;
  -webkit-text-decoration: none;
}

a{
  transition: all 0.4s ease;
}

p{
  font-size: 1.2rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position:relative;
  min-width: 320px;
}

footer{
  margin-top: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    -webkit-appearance:none;
}


