
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  box-sizing: border-box !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.btn-full-width{
  max-width: 100% !important;

}
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.idea-rating-field {
  height: 48px;
}
.hide{
  display: none !important;
}
form{
  text-align: left;
}
.content{
  //text-align: left !important;
}
.input-field.col label{
  //left: 0;
}
$i: 1;
@while $i<=6 {
  h#{$i} {
    text-align: left;
  }

  $i: $i + 1;
}


@media screen and (min-width: 620px) {
   .content{
    //text-align: left !important;
  }
}
.avatar img{
  object-fit: cover;
}
.error-fields {
  color: #df5555;
}


a:hover { 
  text-decoration: none;
  -webkit-text-decoration: none;
  color: $link-hover-color;
}

a{
  transition: all 0.3s ease;
  color: $color-accent;
}

p{
  font-size: 1.2rem;
  margin-bottom: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  position:relative;
  min-width: 320px;
  font-weight:400;
}

footer{
  margin-top: auto;
}

.fullhidden {
  display: none;
}

.owl-nav {
  display: none;
}
.owl-dots {
  margin-top: 10px;
}
.owl-item {
  img {
    object-fit: contain;
    max-width: 160px;
    max-height: 160px;
  }
}

.col-fit {
  width: 1%;
  white-space: nowrap;
}
.col-min {
  min-width: 160px;
}
// input:focus,
// select:focus,
// textarea:focus,
// button:focus {
//     outline: none;
//     -webkit-appearance:none;
// }

// @media screen and (max-width: 576px)  {
//     .container{
//       width: auto;
//       margin-left: 5%;
//       margin-right: 5%;
//     }
// }

.btn {
  font-size: 1.2rem !important;
  letter-spacing: normal !important;
  font-weight: 500 !important;
  font-family: 'Roboto', sans-serif !important;
  text-transform: none !important;
  border-width: 2px !important;
  border-radius: 0.4rem !important;
}


