.content{  
    //padding:5% 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:justify
}
.title{
    font-weight: 500;
}

.form-container {
    box-shadow: 0px 0px 15px #0000001a;
}

.error {
    color: #EE2B25;
}

//Image preview
.images_label{
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 20px;
}

.img-wrapper {
    display: flex;
    flex-wrap: wrap;
    img {
        margin-bottom: 15px;
        height: 150px;
        width: 150px;
        object-fit: scale-down;
        margin-right: 15px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

//Inputs
form.nice {
    --primary: #{$color-accent}; 
    --dark: 0, 0, 0;
    --opacity-label: 0.5;
    --opacity-line: 0.3;

    .textarea.inp {
        textarea {
            padding-top: 0px;
            resize: none;
            border-top: solid 22px transparent;
            
            overflow:hidden;
            box-sizing: padding-box;
        }
        .label {
            font-size: 1.2rem;
        }
    }

    display: flex;
    flex-direction: column;
    .inp {
        --height: 56px;
        --offset: -12px;
        position: relative;
        width: 100%;
        // max-width: 280px;
        border-radius: 3px;
        // overflow: hidden;
        //height: var(--height);


        .label {
            position: absolute;
            top: 15px;
            left: 12px;
            font-size: 16px;
            color: rgba(var(--dark), var(--opacity-label));
            font-weight: 500;
            transform-origin: 0 0;
            transform: translate3d(0,0,0);
            transition: all .2s ease;
            pointer-events: none;
            font-size: 1.2rem;
        }

        .focus-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(var(--dark),.05);
            z-index: -1;
            transform: scaleX(0);
            transform-origin: left;
        }

        input, textarea {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            border: 0;
            font-family: inherit;
            padding: 16px 12px 0 12px;
            font-size: 20px;
            //background: rgba(var(--dark),.02);
            border-bottom: solid 2px #AFAFAF;
            //box-shadow: inset 0 -2px 0 rgba(var(--dark), var(--opacity-line));
            color: var(--dark);
            transition: all .15s ease;

            &:hover {
                //background: rgba(var(--dark),.04);
                //box-shadow: inset 0 -2px 0 rgba(var(--dark), var(--opacity-label));
                border-bottom-color: #7A7A7A;
            }

            &:not(:placeholder-shown) + .label {
                color: rgba(var(--dark), var(--opacity-label));
                transform: translate3d(0, var(--offset), 0) scale(.80);
            }

            &:not(:placeholder-shown) {
                //box-shadow: inset 0 -2px 0 var(--primary);
                border-bottom-color: var(--primary);
                + .label {
                    color: var(--primary);
                }
            }

            &:focus {
                //background: rgba(var(--dark),.05);
                outline: none;
                //box-shadow: inset 0 -2px 0 var(--primary);
                border-bottom-color: var(--primary);
                + .label {
                    color: var(--primary);
                    transform: translate3d(0, var(--offset), 0) scale(.80);
                    + .focus-bg {
                        transform: scaleX(1);
                        transition: all .1s ease;
                    }
                }
            }
        }

        input {
            //height: var(--height);
            padding-top: 22px;
        }

        &.background {
            input, textarea {
                background: rgba(var(--dark),.02);
                &:hover {
                    background: rgba(var(--dark),.04);
                }
                &:focus {
                    background: rgba(var(--dark),.05);
                }
            }
        }
    
    }
}

form.nice.outline {
    padding: 40px 50px;
    box-shadow: 0px 0px 15px #0000001a;
}
