header {
    //Side bar menu color
    --color-side-menu:  #{$color-accent};
    //Special elements color
    --color-spec: #{$color-accent3};
    padding: 0;

    //SideBar Styles
    .menu{
        color: $light-font;
        background: var(--color-side-menu);
        height:100vh;
        width: $menu-width;
        position:fixed;
        top: 0;
        left: 0;
        z-index: 5;
        outline: none;
        transform: translate3d(-$menu-width,0,0);
        transition: all 0.3s ease-in-out;

        & + .overlay {
            pointer-events:none;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #000;
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s ease-in-out
        }
    
        .smartphone-menu-trigger{
            cursor: pointer;
            width: 40px;
            height: 40px;
            position: absolute;
            left: 100%;
            top: 19px;
            background: var(--color-side-menu);
            border-radius: 0 10px 10px 0;
        
            &:before, &:after{
                content: '';
                width: 50%;
                height: 2px;
                background: #fff;
                border-radius: 10px;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
            
            &:after{
                top: 55%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
    
        .avatar{
            background: rgba(0,0,0,0.1);
            padding: 2em 0.5em;
            text-align: center;
            
            img{
                height: 100px;
                object-fit: cover;
                width: 100px;
                border-radius: 50%;
                overflow: hidden;
                border: 4px solid var(--color-spec);
                box-shadow: 0 0 0 4px rgba(255,255,255,0.2);
            }
            
            h2{
                font-weight: normal;
                margin-bottom:0;
                margin-top: 10px;
            }

            a{
                color: $light-font;
            }
        }
    
        ul{
            list-style: none;
            padding: 0.5em 0;
            margin: 0;
            
            a{
                color: $light-font;
                display: flex;
                align-items: center;
                padding:1em 1em 1em 2.5em;
                font-size:1.2em;
                font-weight: 500;
                background-repeat: no-repeat;
                background-position: left 15px center;
                background-size: auto 20px;
                transition: all 0.15s linear;
                cursor: pointer;
                
                &:hover, &.active {
                    background-color:rgba(0,0,0,0.1);
                }

                &.active:hover {
                    padding-left: 2.5em;
                }
                
                &:hover {
                    padding-left: 3.5em;
                }

                &:focus{
                    outline:none;
                }

                // &.active {
                //     padding-left: 38px;
                // }

                &.active::before {
                    content: "\2022";
                    font-size: 2rem;
                    margin-right: 10px;
                    color: var(--color-spec);
                }
                
                &.last {
                    margin-top: auto;
                }
            }
        }
    
        &:focus{
            transform:translate3d(0,0,0);
            
            .smartphone-menu-trigger{
                pointer-events:none;
            }

            & + .overlay {

                opacity: 0.3;
            }
        }
    }
    //SideBar Styles End
}
