// $color-menu: #41c2e2;
$color-menu: #7F5CE2;
$color-accent: #7F5CE2;
$header-img: url(https://images.ctfassets.net/hrltx12pl8hq/5hb9s8fTpw4Pk7fEm8Hdfs/d7c5ae85aad44fb334bcde8268135774/flowers-images-card.jpg?fit=fill&w=368&h=207);


$color-1st: #ffea92;
$color-2nd: #5bc995;

$menu-width-desktop: 240px;
$menu-width-tablet: 90px;
$menu-width-smartphone: 230px;