 <footer class="footer">
    <div class="footer-container">
      <div class="footer-left-block">
          <%= image_tag "logo.svg", :class => "footer-logo" %>
      </div>
      <div class="footer-middle-block">
        <h3 class = "title">О проекте</h3>
        <div class="footer-text">
          Данный сервис предоставляет возможность эффективного взаимодействия между сотрудниками и руководителями компании в сфере обмена идеями и предложениями.
        </div>
        <div class="footer-text">
          Если вы владелец кампании и желаете с лёгкостью получить, лучшие идеи ваших сотрудников, то NekIdea - это то, что вы ищете.
        </div>
        <div class="footer-text footer-text-last">
          Достаточно лишь зарегистрировать свою кампанию на нашем сервисе и добавить сотрудников, и перед вами откроются широкие возможности поиска единого решения.
        </div>
      </div>
      <div class="footer-right-block">
        <h3 class = "title">Наши контакты</h3>
        <div class = "contacts">
          <div class = "item">
            <a class="footer-link" href="https://gmail.com">
              <i class="fas fa-at"></i>
              support@ideahub.com
            </a>
          </div>
          <div class = "item">
           <a class="footer-link" href="https://gmail.com">
            <i class="fab fa-vk"></i>
            ideahub.vk.com
           </a>
          </div>
          <div class = "item">
            <a class="footer-link" href="https://gmail.com">
              <i class="fab fa-github"></i>
              ideahub@github.com
            </a>
          </div>
        </div>
        <div class="footer-copyright">
          NekWeb &copy; 2021
        </div>
      </div>
    </div>
  </footer>
