 <footer class="footer">
    <div class="footer-container row">
      <div class="footer-left-block col s12 m12 xl2 s-ord-1 m-ord-1 l-ord-1">
          <%= image_tag "logo.svg", :class => "footer-logo" %>
      </div>
      <div class="footer-middle-block col s12 m12 xl7 s-ord-2 m-ord-2 l-ord-2">
        <h3 class = "title">О проекте</h3>
        <div class="footer-text">
          Данный сервис предоставляет возможность пользователям голосовать за идеи, которые другие пользвоатели могут
          предлагать. Также на нашем сайте доступен функционал отслеживания идей по тематикам и поиск самых активных сотрудников.
        </div>
        <div class="footer-text">
          Наша платформа всегда открыта для новых предложений. Если вы владелец кампании и желаете с легкостью определять, какая идея
          больше всего нравится вашим сотрудникам, то NekIdea - это то, что вы ищете.
        </div>
        <div class="footer-text footer-text-last">
          Достаточно лишь зарегистрировать свою кампанию на нашем сервисе и добавить сотрудников, и перед вами откроются широкие возможности поиска единового решения.
        </div>
      </div>
      <div class="footer-right-block col s12 m12 xl3 s-ord-3  m-ord-3 l-ord-3">
        <h3 class = "title">Наши контакты</h3>
        <div class = "contacts">
          <div class = "item">
            <a class="footer-link" href="https://gmail.com">
              <i class="fas fa-at"></i>
              support@ideahub.com
            </a>
          </div>
          <div class = "item">
           <a class="footer-link" href="https://gmail.com">
            <i class="fab fa-vk"></i>
            ideahub.vk.com
           </a>
          </div>
          <div class = "item">
            <a class="footer-link" href="https://gmail.com">
              <i class="fab fa-github"></i>
              ideahub@github.com
            </a>
          </div>
        </div>
        <div class="footer-copyright">
          NekWeb &copy; 2021
        </div>
      </div>
    </div>
  </footer>
