

<header class="header">
  <nav class="links">
    <li  class="active">
      <a href="/" class="item">Главная</a>
    </li>
    <li>
      <span>|</span>
      <a href="/votes/new" class="item">Тематики</a>
    </li>
    <li>
      <span>|</span>
      <a href="#" class="item">Пользователи</a>
    </li>
    <li>
      <span>|</span>
      <a href="#" class="item">Мой профиль</a>
    </li>
  </nav>
  <div class="logo">
     <%= image_tag "logo.svg" %>
     <h4><a href="#category">Your idea managment</a></h4>
  </div>

  <!-- Sidebar menu -->
  <nav tabindex="0" class="menu">
    <div class="smartphone-menu-trigger"></div>
  <div style = "overflow-y: auto; height: 100vh; display: flex; flex-direction: column;">
    <div class="avatar" >
      <a href="/login">
        <%= image_tag user_avatar %>
        <h3 style="text-align: center; padding-top: 15px;">Omari Starks</h3>
      </a>
    </div>

      <ul style = " display:flex; flex-direction: column; flex: 1;">
        <a href="/" tabindex="0" class="active"><span>Главная</span></a>
        <a href="/votes/new" tabindex="0"><span>Тематики</span></a>
        <a tabindex="0"><span>Пользователи</span></a>
        <a tabindex="0"><span>Мой профиль</span></a>
        <a href="/logout" tabindex="0" class="last"><span>Выход</span></a>
      </ul>
    </div>
  </nav>
  <div class="overlay"></div>
</header>

