

<div class="page-wrapper vote-create">
  <%= render partial: './header.html.erb' %>
  <section class ="content container">
    <%= render 'form', vote: @vote %>
  </section>
  <%= render partial: './footer.html.erb' %>
</div>


