<div class="page-wrapper vote-create">
  <%= render partial: './header.html.erb' %>
  <section class ="content container">
    <div class = "vote head">
      <div class = "head">
        <div class = "right">
          <div class = "person">
            <p>Создатель:</p>
            <div class = "avatar">
              <a href="/login">
                <img src="https://w3schoolsrus.github.io/w3images/avatar2.png">
              </a>
            </div>
            <div class = "name">
              <p>Иванов Иван Иваныч</p>
            </div>
          </div>
          <div class = "properties">
            <p>Тип: <span>многоэтапаная тематика</span></p>
          </div>
          <div class = "phase">
            <p>Находится в фазе: <span>предложений</span></p>
          </div>        
        </div>
        <div class = "left">
          <div class = "time">
            <p>Приём заявок до: <span>12.04.2021</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class = "vote main">
      <h1 class = "vote_title">Нужны новые инструменты!</h1>
      <div class = "vote_body">
        <p>Наша фирма встала в тупик: многие станки и важные инструменты, необходимые нам в производственной деятельности больше не оправдывают себя. Дорогие сотрудники, ждём ваших предложений, как поступить!</p>
      </div>
      <div class = "iter">
        <div class = "num"></div>
        <div class = "body">
          <div class = "strip"></div>
          <div class = "text">
            <h4>А что по эффективности?</h4>
            <p>Наша фирма встала в тупик: многие станки и важные инструменты, необходимые нам в производственной деятельности больше не оправдывают себя. Дорогие сотрудники, ждём ваших предложений, как поступить!</p>
          </div>
        </div>
      </div>
      <div class = "iter">
        <div class = "num"></div>
        <div class = "body">
          <div class = "strip"></div>
          <div class = "text">
            <h4>А что насчёт с экономичной точки зрениия?</h4>
            <p>Наша фирма встала в тупик: многие станки и важные инструменты, необходимые нам в производственной деятельности больше не оправдывают себя. Дорогие сотрудники, ждём ваших предложений, как поступить!</p>
          </div>
        </div>
      </div>
      <div class = "iter active">
        <div class = "num"></div>
        <div class = "body">
          <div class = "strip"></div>
          <div class = "text">
            <h4>А что по внедряемости?</h4>
            <p>Наша фирма встала в тупик: многие станки и важные инструменты, необходимые нам в производственной деятельности больше не оправдывают себя. Дорогие сотрудники, ждём ваших предложений, как поступить!</p>
          </div>
        </div>
      </div>
      <div class = "iter">
        <div class = "num"></div>
        <div class = "body">
          <div class = "strip"></div>
          <div class = "text">
            <h4>А что насчёт с экономичной точки зрениия?</h4>
            <p>Наша фирма встала в тупик: многие станки и важные инструменты, необходимые нам в производственной деятельности больше не оправдывают себя. Дорогие сотрудники, ждём ваших предложений, как поступить!</p>
          </div>
        </div>
      </div>
      <div class = "images">
        <h4>Фото к проблеме</h4>
        <div class="owl-carousel owl-theme">
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/default_idea.svg"></a></div>
          <div class = "item-img"> <a><img src = "/img/2.jpg"></a></div>
        </div>
      </div>
    </div>

  </section>
  <%= render partial: './footer.html.erb' %>
</div>

